<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        function getFileUrl(sourceId) {
            var url;
            if (navigator.userAgent.indexOf("MSIE")>=1) { // IE
                url = document.getElementById(sourceId).value;
            } else if(navigator.userAgent.indexOf("Firefox")>0) { // Firefox
                url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
            } else if(navigator.userAgent.indexOf("Chrome")>0) { // Chrome
                url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
            }
            return url;
        }
        function preImg(sourceId, targetId) {
            var url = getFileUrl(sourceId);
            var imgPre = document.getElementById(targetId);
            imgPre.src = url;
        }
    </script>
</head>
<body>
<h1>Select the picture to be recognized</h1>
<form action="">
    <input id="image" type="file" name="picFile" accept=".jpg,.png;" onchange="preImg(this.id,'photo');">
    <input type="button" value="Upload" onclick="f()">
</form>
<br />
<img id="photo" src="https://img1.baidu.com/it/u=1838621611,110283107&fm=253&fmt=auto&app=138&f=GIF?w=500&h=281" width="500px" style="display: block;" />
<p id = "answer"></p>
<p id = "rtt"></p>
<script>
    function f() {
        var block = document.querySelector("#image");
        console.log(block.files[0]);
        var formData = new FormData();
        formData.append("image",block.files[0]);
        console.log(formData);
        fetch("/upload", {
            method: 'POST',
            body: formData
        })
        .then((response) => response.json())
        .then((response) => {
            document.getElementById('answer').innerHTML = "Recognized as: " + response["Answer"];
            document.getElementById('rtt').innerHTML = "RTT: " + response["RTT"] +"ms";
        }
        );
    }
</script>

</body>
</html>