<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Select the picture to be recognized</h1>
<form action="">
    <input id="image" type="file" name="picFile" accept=".jpg,.png;" >
    <input type="button" value="Upload" onclick="f()">
</form>
<script>
    var res = ''
    function f() {
        var block = document.querySelector("#image");
        console.log(block.files[0]);
        var formData = new FormData();
        formData.append("image", block.files[0], block.files[0].name);

        fetch("/upload", {
            method: 'POST',
            body: formData
        })
        .then((response) => response.json())
        .then((response) => document.getElementById('answer').innerHTML = response["Answer"]);
    }
</script>
<div id='answer'></div>
</body>
</html>